<html>
    <head>
        <title>practice of javascript</title>
        <script type="text/javascript">window.alert("welcome to slaughter house");</script>
    </head> 
    <body> 
        <p>Click the following button to call the function</p>
    </body>
</html>
